<!DOCTYPE html>
<html>
<head>
  <title>Towerclash</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "main">
    <nav class = "round">
      qwqewq
    </nav>
    
	<section>
  	  <%= yield %>
  	</section>
  
    <nav class = "round">
      qwqewq
    </nav>
  
  </div>
</body>
</html>
